.horizontal_center {
    margin: auto;
    width: 50%;
    border: 3px solid #bbbbbb;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal_center_img {
    margin: auto;
    width: 80%;
    border: 3px solid #bbbbbb;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal_center_img img{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}

.horizontal_center .center_header{
    background-color: #bbbbbb;
    padding-left: 5px;
}

.horizontal_center h5{
}

.horizontal_center ul{
    list-style-type:none;
}

.task{
    padding-left: 10px;
    padding-right: 10px;
}

.task:hover{
    background: #bbbbff33;
}